
#bodyIndex{
    background-image: url(Fondos/FondoAnto.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: #fff;
}
 /* #bodyIndex{
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 2%, rgba(227,174,223,1) 35%); 
}  */
#imgCarrusel{    /* para centrar la imagen se aplica el estilo a la clase padre que almacena la img  */
    text-align: center;
}
#bodyModal{
    background-color: green;
    color: black;
}
#btnCerrar{
    background-color: brown;
    color: black;
}
#btnCerrar02{
    background-color: blueviolet;
    color: black;
}
#tituloModal{
    background-color: aqua;
    color: black;
}
#trajebaño{

    width: 300px;
    height: 300px;
}
#bodyModal{    /* para centrar la imagen se aplica el estilo a la clase padre que almacena la img  */
    text-align: center;
}

.disponible h6{
    color: rgb(24, 207, 24);
}

.PocasUnidades{
    color: red;
}
/*  footer  */
#ImgLogos img{     
    width: 40px;
    height: 30px;
    padding-right: 15px;
}
#ImgLogos a{
    text-decoration: none;
}
#ImgLogos{
    color: rgb(200, 214, 0);
}
#ImgLogos li :hover{   /* llamo al id padre que almacena todo y luego li para señalar que clases quiero cambiar, y termino especificando el hover para que se les aplique a todos los links */
    color: red;
 /* fin footer  */
}
#TituloContacto{
    color: rgb(208, 211, 30);
}
#ReferenciaContacto{
    color: aqua;
}
#ReferenciaContacto:hover{
    color: red;
}
/* -------------------style fundación -----------------------  */
#gatetedonaciones{
    width: 300px;
    height: auto;
}

#DonacionVegetación{
    width: 300px;
    height: auto;
}
#puerquito{
    width: 300px;
    height: auto;
}
#Casa01{
    width: 300px;
    height: auto;
}
/* ----------------- fin fundación -------------------  */
#BoxContacto{
    color: rgb(190, 8, 130);
}
#TituloHome{
    padding: 100px;
    color: aliceblue;
}
#DragonIcono{
    width: 50px;
    height: auto;
}
#DragonesTitle{
    width: 75px;
    height: auto;
    padding: 5px;
}
#bodyIndex{
    font-size: 20px;
}
#TitleJardin{    /*  ajusto el tamaño de la fuente  */
    font-size: 100px;
}
#slide01 img{
    width: 700px;
    height: auto;
}
#IconoGuapetonIcono{
width: 75px;
height: auto;
padding: 5px;
}
#IconTitleCatalogo{
    width: 75px;
    height: auto;
    padding: 5px;
}

#imgProduct{
    width: 120px;
    height: auto;
    padding: 2px;
    display: flex;
}

.table-responsive{
    display: block;
    width: 100%;
    overflow-x: auto;
}

#inicioSesion{
    width: 30px;
    width: 30px;
    margin-left: 400px;
}

#envio{
    background-color: #d1e7dd;
    color: black;
}

#pagar{
    text-align: center;
}

/* Inicio sesion  */
#bg{
    background-image: url(Fondos/f1.png);
    background-position: center center;
}

/* #bbg{
    background: #ff57ca;
    background:linear-gradient(to right, #9838cf, #ff57ca);
} */

#bbg{
    background-image: url(Fondos/FondoAnto.jpg);
    background-position: center center;
}

#btns{
    border-color: black;
}

#stFundacion{
    color: black;
}
